html{
    background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/1551360/ss_733100a0e305025cfea4797c14cb55a9e2673521.1920x1080.jpg?t=1642629910");
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    max-width: 940px;
    margin: 0 auto;
    align-content: center;
    border:4px solid black;
    margin:0 auto;
    background-color: rgb(212, 62, 7);
}
table{
    border: 1px solid black;
}
tr th{
    border: 1px solid black; 
}
tr td{
    border: 1px solid black; 
}
nav{
    font: 15px Stencil;
    position: absolute;
    width: 940px;
    background-color: black;
}
nav ul{
    margin: 0  auto;
    width: 940px;
    list-style: none;
}
nav li{
    float: left;

}
nav ul li a{
    display: block;
    margin-right: 20px;
    width: 200px;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    color: #f5f5f5;
}
nav ul li a:hover{
    color:rgb(226, 116, 12);
}
#banner{
    width:940px;
    height:248px;
} 
#topbanner{
    width:940px;
    height:250px;
    border: 2px solid black;
    background-color: black;
} 
#content{
    padding-top: 60px;
    display: table;
    padding-bottom: 10%;
    margin-bottom: 10%;
}
#post{
    display:  table-cell;
    text-align: justify;
    width: 600px;
    padding: 20px;
    padding-top: 10px;
    border: 1px solid black;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}
#theme{
    max-width: 30px;
    align-items: center;
}
hr.splitter{
border-top: 3px solid black;
}
#leftPanel{
    margin-right: 2%;
}
#post header{
    text-align: center;
}
#post img{
    margin-top: 20px;
    width: 100%;
}
.social{
    max-width: 25%;
}
aside{
    display: table-cell;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f00a0a;
    color: rgb(241, 124, 14);
    border: 1px solid black;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    margin-left: 2%;
}
aside img {
   width: 100%;
   height: 150%;
}
footer{
    background-color: black;
    font: 15px "Bookman Old Style";
    line-height: 44px;
    padding-right: 20px;
    text-align: right;
    color: white;
}
